<a href="javascript:void(0)" id="mute-{{ type }}-stream-btn" class="btn btn-label-brand btn-bold btn-sm btn-icon-h admin-btn">
	<div class="mute-{{ type }}-stream-btn-1">
		<i class="la la-microphone"></i>
		<br/>
		{# Выключить звук #}
		Звук включен
	</div>
	<div class="unmute-{{ type }}-stream-btn-1">
		<i class="la la-microphone-slash"></i>
		<br/>
		{# Включить звук #}
		Звук выключен
	</div>
</a>
<a href="javascript:void(0)" id="unmute-{{ type }}-stream-btn" class="btn btn-label-brand btn-bold btn-sm btn-icon-h kt-hidden admin-btn">
	<div class="mute-{{ type }}-stream-btn-2">
		<i class="la la-microphone"></i>
		<br/>
		{# Выключить звук #}
		Звук включен
	</div>
	<div class="unmute-{{ type }}-stream-btn-2">
		<i class="la la-microphone-slash"></i>
		<br/>
		{# Включить звук #}
		Звук выключен
	</div>
</a>
