// This is our custom styles to add new or override existing metronic styles

.kt-subheader .kt-subheader__main {
  flex-wrap: nowrap;
}

#conferenceMembers {
  display: flex;
  align-items: center;
  padding: 0;
}

.participant_list_container {
  width: calc(100vw - 50px);

  .participant_list {
    min-height: 250px;
    display: flex;
    overflow: hidden;
    overflow-x: auto;

    .participant_item {
      width: 200px;
      cursor: move;

      .kt-widget__username {
        font-size: 1em !important;
      }
    }
    .participant_pic img {
      width: 69px !important;
    }
  }
}

$heightPlayer: 35vh;

.player {
  position: relative;
  height: $heightPlayer;

  .speaker-name {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-weight: bold;
    white-space: nowrap;
  }
  .drop-zone {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    background: #fff url("/assets/media/app/drop-zone.png") center center no-repeat;
    background-size: 25%;
    border: 3px dashed;
  }

  video,
  object {
    width: 100%;
    height: 100%;
  }
  &.big {
    height: 670px;
  }
}

.one-player{
  height: calc(#{$heightPlayer} * 2);
}

.btn.status_online {
  @extend .btn.btn-label-success;
  cursor: move !important;
}

.btn.status_offline {
  @extend .btn.btn-label-warning;
  cursor: move !important;
}

.btn.status_default {
  @extend .btn.btn-label-light-brand;
  cursor: move !important;
}

.user-content {
  .kt-portlet {
    border-radius: 0;
    margin-bottom: 0;
    &.kt-portlet--height-fluid {
      height: 100%;
    }
  }
  .kt-portlet__body.question-text {
    padding: 5px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .votingButtons {
    position: absolute;
    right: 10px;
    margin-right: 10px;
  }

  #vote-results-btn {
    width: 100%;
  }
}

.user-top {
  top: 45px;
}

.user-header {
  top: 0;
  position: fixed;
  min-width: 100%;
  min-height: 65px;
  z-index: 99;
}

#vote-results-btn {
  height: 100% !important;
  font-size: 1rem;
}

.voting-result-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  position: relative;
  margin-top: 65px;

  .title-wrapper {
    justify-content: center;
    p {
      width: 50%;
      color: black;
      font-size: 1.3rem;
      font-weight: 600;
    }
  }

  .table-wrapper {
    justify-content: center;

    table {
      font-family: Helvetica, sans-serif;
      border-radius: 5px;
      border-collapse: collapse;
      width: 50%;

      .title,
      td {
        border-top: 1px solid #5d78ff;
        border-bottom: 1px solid #5d78ff;
        padding: 0.8rem 1.5rem;
      }

      .title {
        width: 1px;
        white-space: nowrap;
        color: #1f006e;
        background: rgba(93, 120, 255, 0.1);
        &.active {
          background-color: #c2c7e0;
          color: #000;
        }
      }

      td {
        background-color: #fff;

        a {
          color: #1f006e;
          background: rgba(93, 120, 255, 0.1);
          border-radius: 5px;
          padding: 10px 20px;

          &:hover {
            border: 1px solid rgba(93, 120, 255, 0.5);
          }
        }
      }
    }
  }
}

.voting-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 65px;

  table {
    border-bottom-style: none;
    border-right-style: none;

    th {
      background-color: rgba(93, 120, 255, 0.9);
      border: 1px solid rgba(93, 120, 255, 0.8);
      color: #fff;
      font-size: 1.3rem;
    }

    td {
      border: 1px solid rgba(93, 120, 255, 0.8);
    }

    tr:nth-child(2n) {
      background-color: rgba(93, 120, 255, 0.1);
    }

    tr:nth-child(2n + 1) {
      background-color: #fff;
    }

    tr td,
    th:first-child {
      width: 55%;
    }

    tr td,
    th:nth-child(2) {
      width: 15%;
    }
  }

  .main-info {
    display: flex;
    width: 60%;
    flex-direction: column;

    .item-wrapper {
      display: flex;

      p {
        color: black;
        font-size: 1.2rem;

        span {
          font-weight: bold;
        }
      }
    }
  }

  .table-wrapper {
    justify-content: center;

    table {
      width: 60%;
      .title {
        background: #d6dde8;
        width: 1px;
        white-space: nowrap;
      }
      td {
        font-size: 1.3rem;
      }
    }
  }
}

.header-voting {
  width: 100%;
  .question-select-wrapper {
    width: 100%;
  }
}

#searchMember {
  width: auto;
  display: inline-block;
}

/*
 * =======================
 * MUTE / UNMUTE Buttons
 * =======================
 */
.swap-audio-btn {
  display: flex;
  position: absolute;
  z-index: 10;
  top: 0px;
  right: -27px;
  height: calc(100% - 20px) !important;
  border-radius: 0;
}

.player-container{
  justify-content: center;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  padding-top: 10px;

  .admin-btn {
    padding: 15px;
    width: 100%;
    height: 100% !important;
  }

  .unmute-tribune-stream-btn-1,
  .mute-tribune-stream-btn-2,
  .unmute-member-stream-btn-1,
  .mute-member-stream-btn-2,
  .unmute-presidium-stream-btn-1,
  .mute-presidium-stream-btn-2,
  .unmute-table-stream-btn-1,
  .mute-table-stream-btn-2 {
    display: none;
  }

  #mute-tribune-stream-btn,
  #mute-member-stream-btn,
  #mute-presidium-stream-btn,
  #mute-table-stream-btn {
    color: #fff;
    background-color: #3d5e15;
  }

  #unmute-tribune-stream-btn,
  #unmute-member-stream-btn,
  #unmute-presidium-stream-btn,
  #unmute-table-stream-btn {
    color: #fff;
    background-color: #d50102;
  }
}

.buttonMargin {
  margin: 10px 0 5px;
}

.buttonListMargin {
  margin: 10px;
}

.modalScroll {
  overflow: auto;
  max-height: 80vh;
}

.listRegistered {
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  margin-top: 60px;
  h1 {
    color: #1f006e;
  }
  p {
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
  }
  &__name,
  &__date {
    font-size: 1.2rem;

    border-bottom: 1px solid #5d78ff;
    padding: 0.8rem 1.5rem;
  }
  &__name {
    color: #1f006e;
    background: rgba(93, 120, 255, 0.1);
  }
  &__date {
    color: #212529;
    background-color: #fff;
  }
}

#pageSpeechVoting,
#tableVoting,
#votingEmployee
{
  height: 85vh;
  width: 100%;
  position: fixed;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 25px;
  background-color: #f2f3f8;
  p {
    font-size: 41px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: #646c9a;
  }
}

#tableVoting {
  table {
    %borderTable{
      border-top: 1px solid #5d78ff;
      border-bottom: 1px solid #5d78ff;
      padding: 0.8rem 1.5rem;
      font-size: 1.2rem;
    }
    .title {
      width: 1px;
      white-space: nowrap;
      color: #1f006e;
      background: rgba(93, 120, 255, 0.1);
      @extend %borderTable;
    }
    td {
      background-color: #fff;
      @extend %borderTable
    }
  }
}

.pageSpeechVoting {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 12px;
}
.pageSpeechQuestion, .votingEmployeeTitle {
  font-weight: 500;
  margin-bottom: 40px;
  text-align: center;
  font-size: 2rem;
}

.votingEmployeeGroup{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.votingGroup {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-bottom: 15px;
  &.active {
    border: 1px solid #e2e6f9;
    border-radius: 2px;
    background-color: #c2c7e0;
    color: #1f006e;
    font-weight: 500;
  }
  p{
    margin: 10px;
  }
}

.pageSpeechHeadRow{
  height:100%;
  position: relative;
  .pageSpeechHeadCol {
    text-align: center;
    margin: auto;
    font-weight: 400;
   &:first-child{
     text-align: left;
   }
    &:last-child{
      text-align: right;
    }
  }
}

.votingTimeGo{
  text-align: center;
  font-size: 1.5rem;
}

.radial-progress{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#employees {
  .text {
    font-size: 1.5rem;
  }
}
