<head>
    <title>{% block title %}{{ 'security.login.title' | trans }}{% endblock %}</title>
    <link href="{{ asset('/bundles/mgdauth/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('/bundles/mgdauth/css/fonts.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('/bundles/mgdauth/css/components.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('/bundles/mgdauth/css/login.css')}}" rel="stylesheet" type="text/css" />
    <script src="{{ asset('/bundles/mgdauth/js/jquery.min.js')}}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/mgdauth/js/backstretch/jquery.backstretch.min.js')}}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/mgdauth/js/login.js')}}" type="text/javascript"></script>
    <script>
        jQuery(document).ready(function() {
            sessionStorage.setItem('isNewSession', false);
        });

        // Service Worker
        if (navigator.serviceWorker.controller) {
            console.log('[PWA Builder] active service worker found, no need to register')
        } else {
            navigator.serviceWorker.register('/sw.js', {
                scope: './'
            }).then(function(reg) {
                console.log('Service worker has been registered for scope:'+ reg.scope);
            });
        }
    </script>

    {% include 'icons.html.twig' %}
</head>

<body>
<div class="login">
    <div class="content">
        <form class="login-form" action="{{ path("login") }}" method="POST">
            <h3 class="form-title">{{ 'security.login.to_account'|trans }}</h3>
            {% if error %}
                <div class="help-block font-red">
                    <span class="fa fa-exclamation"></span>
                    {{ error.messageKey|trans(error.messageData, 'MGDAuthBundle') }}
                </div>
            {% endif %}
            <div class="form-group">
                <label for="registration" class="control-label visible-ie8 visible-ie9">{{ 'security.login.registration'|trans }}</label>
                <div class="input-icon">
                    {% if registrations|length != 1 %}
                    <i class="fa fa-video-camera"></i>
                    <select class="form-control selectpicker" id="registration"
                           autocomplete="on"
                           name="_registration" required="required"
                    >
                        {% if registrations is empty %}
                        <option value="" selected disabled hidden>{{ 'security.login.registration_null'|trans}}</option>
                        {% endif %}
                        {% for registration in registrations %}
                            <option value="{{ registration.id }}">{{ registration.name }}</option>
                        {% endfor %}
                    </select>
                    {% else %}
                        <input type="hidden" id="registration" name="_registration" value="{{ registrations[0].id }}">
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="control-label visible-ie8 visible-ie9">{{ 'security.login.username'|trans }}</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input id="username" class="form-control placeholder-no-fix"
                           value="{{ last_username }}"
                           type="text" autocomplete="on"
                           placeholder="{{ 'security.login.username'|trans}}"
                           name="_username" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="control-label visible-ie8 visible-ie9">{{ 'security.login.password'|trans }}</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input id="password" class="form-control placeholder-no-fix"
                           type="password" autocomplete="on"
                           placeholder="{{ 'security.login.password'|trans }}"
                           name="_password" required="required" /> </div>
            </div>

            <div class="form-actions">

                <label class="checkbox">
                    <!--
                    <input id="remember_me" type="checkbox"
                           name="_remember_me" value="on" />
                    {{ 'security.login.remember_me'|trans }}
                    -->
                </label>
                <input type="submit" id="_submit"
                       class="btn green pull-right"
                       name="_submit"
                       value="{{ 'security.login.submit'|trans }}" />
            </div>
        </form>
    </div>
</div>
</body>
