//
// Base
//



// Body
body {
	background: $kt-content-bg-color;
}

// Base
.kt-subheader {
	&.kt-subheader--clear {
		margin-bottom: 0 !important;
	}
}

// Desktop mode
@include kt-desktop {
	// Page
	.kt-wrapper {
		transition: kt-get($kt-aside-config, base, minimize, transition);

		// Fixed Aside
		.kt-aside--fixed & {
			padding-left: kt-get($kt-aside-config, base, default, width);
		}

		// Minimize Aside
		.kt-aside--fixed.kt-aside--minimize & {
			padding-left: kt-get($kt-aside-config, base, minimize, width);
			transition: kt-get($kt-aside-config, base, minimize, transition);
		}
	}

	// Subheader
	.kt-subheader {		
		// Fixed subheader mode
		.kt-header--fixed.kt-subheader--fixed & {
			//position: fixed;
			height: kt-get($kt-subheader-config, fixed, height);
			//top: kt-get($kt-header-config, base, desktop, default, height);
			//left: 0;
			//right: 0;
			//transition: all 0.3s ease;
			//z-index: kt-get($kt-header-config, base, desktop, fixed, zindex) - 3;
			background-color: #fff;
			box-shadow: 0px 10px 30px 0px rgba(82,63,105,0.08);
			margin: 0 0 20px 0;
		}

		// Fixed header, minimized header and fixed subheader
		.kt-header--fixed.kt-header--minimize.kt-subheader--fixed & {
			top: kt-get($kt-header-config, base, desktop, fixed, minimizeHeight);
			transition: top 0.3s ease;
		}

		.kt-aside--enabled.kt-subheader--fixed & {
			left: kt-get($kt-aside-config, base, default, width);
		}
		
		.kt-subheader--fixed.kt-aside--minimize-hover &,
		.kt-subheader--fixed.kt-aside--minimize & {
			left: kt-get($kt-aside-config, base, minimize, width);
			transition: kt-get($kt-aside-config, base, minimize, transition);
		}
	}

	// Container 
	.kt-container {
		padding: 0 kt-get($kt-page-padding, desktop);
	}

	// Content & fixed subheader mode
	.kt-subheader--enabled:not(.kt-subheader--fixed) {
		.kt-content {
			padding-top: 0;
		}
	}
}

//
// Fixed container width change to fluid
// Aside removed
body:not(.kt-aside--enabled) {
	@include kt-media-range( lg, $kt-page-container-width + (2 * kt-get($kt-page-padding, desktop)) ) {
		.kt-container:not(.kt-container--fluid) {
			width: 100%;
		}
	}
}

// Default Aside
.kt-aside--enabled:not(.kt-aside--minimize) {
	@include kt-media-range( lg, $kt-page-container-width + $kt-aside-default-width + (2 * kt-get($kt-page-padding, desktop)) ) {
		.kt-container:not(.kt-container--fluid) {
			width: 100%;
		}
	}
}

// Minimized Aside
.kt-aside--enabled.kt-aside--minimize {
	@include kt-media-range( lg, $kt-page-container-width + $kt-aside-minimize-width + (2 * kt-get($kt-page-padding, desktop)) ) {
		.kt-container:not(.kt-container--fluid) {
			width: 100%;
		}
	}
}

// Tablet & mobile
@include kt-tablet-and-mobile {

	// Container 
	.kt-container {
		padding: 0 kt-get($kt-page-padding, mobile);
	}

	// Content & fixed subheader mode
	.kt-subheader--enabled {
		.kt-content {
			padding-top: 0;
		}
	}

	.kt-subheader--enabled.kt-subheader--solid {
		.kt-subheader {		
			margin-bottom: kt-get($kt-page-padding, mobile);
		}
	}
}

.kt_header{
	background-color: #fff;
	padding: 0 25px;
	&__user-name {
		padding: 10px 0;
		@include make-col-ready();
		@include media-breakpoint-up(lg) {
			@include make-col(3);
			text-align: right;
			.kt-header__topbar-user {
				padding-right: 1rem;
			}
		}
	}
	&__button {
		padding: 10px 0;
		@include make-col-ready();
		@include media-breakpoint-up(lg) {
			@include make-col(9);
		}
	}
}

.userMuteBtn {
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	a {
		padding-bottom: 5px;
		padding-top: 5px;
	}
	br {
		display: none;
	}
	.mute-presidium-stream-btn-1,
	.unmute-presidium-stream-btn-2{
		display: inline-flex;
		i {
			font-size: 1.1rem;
			padding-top: 7px;
		}
	}
}