<div class="kt-portlet kt-portlet--height-fluid" id="player-container-{{ type }}">
    <div class="kt-portlet__head kt-portlet__head-top ">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                {{ title }}
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body kt-portlet__body-padding">
        <div class="tab-content">

            <div class="player {% if onlyUser|default %}one-player{% endif %}" id="{{ type }}-player">
                <div id="{{ type }}-speaker-name" class="kt-badge kt-badge--inline kt-badge--info speaker-name kt-hidden"></div>
                <div id="{{ type }}-drop-zone" class="drop-zone kt-hidden"></div>
                <video autoplay muted id="{{ type }}-video" poster="/assets/media/app/member-preview.jpg"></video>
            </div>

        </div>

        <div class="row buttons-container{% if not buttons %} kt-hidden{% endif %}">
            <div class="col-lg-6 col-xl-6 order-lg-1 order-xl-1 play-btn-container">
                {% include "index/streams/buttons/_play.html.twig" with {'type': type} %}
            </div>
            <div class="col-lg-6 col-xl-6 order-lg-1 order-xl-1 mute-btn-container {% if (is_granted('ROLE_DEPUTY') or is_granted('ROLE_PARTICIPANT')) %}userMuteBtn{% endif %}">
                {% include "index/streams/buttons/_mute.html.twig" with {'type': type} %}
            </div>
        </div>

    </div>
</div>
