{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.ifaceMode = 'votingResult';
        window.countRegistrationClient = {{ countRegistrationClient }};
    </script>
{% endblock %}

{% block header %}
    <div class="user-header">
        {{ parent() }}
    </div>
{% endblock %}

{% block body %}
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid user-content js-session">
    {% if results|length is same as(0) %}
    <div class="row voting-result-wrapper">
        <div class=" col-12 title-wrapper d-flex">
            <p class="text-left">{{ 'voting_labels.not' | trans }}</p>
        </div>
    </div>
    {% else %}
    {% for groups in results %}
    <div class="row voting-result-wrapper js-questions" data-question-id="{{ groups['voting_question_id'] }}">
        <div class=" col-12 title-wrapper d-flex js-titleQuestion">
            <p class="text-left">{{ groups['voting_question'] }}</p>
        </div>
        {% for item in groups['voting_result'] %}
        <div class=" col-12 table-wrapper d-flex js-voting">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a class="votingGroup" href="javascript:void(0)"
                   data-index="{{ loop.index }}"
                   data-question-id="{{ groups['voting_question_id'] }}">
                    <p>{{ 'voting_labels.№' | trans }}{{ loop.index }}</p>
                </a>
            {% else %}
                <p>{{ 'voting_labels.№' | trans }}{{ loop.index }}</p>
            {% endif %}
        </div>
        <div class=" col-12 table-wrapper d-flex js-tableResult">
            <table class="table">
                <tbody>
                <tr class="js-agree">
                    {% if item['votes_agree'] and is_granted('ROLE_SUPER_ADMIN') %}
                        <th class="title"><a class="jsVotesResult"
                                             data-questions-id="{{ groups['voting_question_id'] }}"
                                             data-group="{{ loop.index }}"
                                             data-voting="agree"
                                             href="javascript:void(0)">{{ 'voting_labels.amount_of_agree' | trans | upper }}</a>
                        </th>
                    {% else %}
                        <th class="title"
                            data-agree-title="1">{{ 'voting_labels.amount_of_agree' | trans | upper }}</th>
                    {% endif %}
                    <td>{{ item['votes_agree'] }}</td>
                </tr>
                <tr class="js-disagree">
                    {% if item['voting_disagree'] and is_granted('ROLE_SUPER_ADMIN') %}
                        <th class="title"><a class="jsVotesResult"
                                             data-questions-id="{{ groups['voting_question_id'] }}"
                                             data-group="{{ loop.index }}"
                                             data-voting="disagree"
                                             href="javascript:void(0)">{{ 'voting_labels.amount_of_disagree' | trans | upper }}</a>
                        </th>
                    {% else %}
                        <th class="title">{{ 'voting_labels.amount_of_disagree' | trans | upper }}</th>
                    {% endif %}
                    <td>{{ item['voting_disagree'] }}</td>
                </tr>
                <tr class="js-ignore">
                    {% if item['votes_ignore'] and is_granted('ROLE_SUPER_ADMIN') %}
                        <th class="title"><a class="jsVotesResult"
                                             data-questions-id="{{ groups['voting_question_id'] }}"
                                             data-group="{{ loop.index }}"
                                             data-voting="ignore"
                                             href="javascript:void(0)">{{ 'voting_labels.amount_of_ignore' | trans | upper }}</a>
                        </th>
                    {% else %}
                        <th class="title">{{ 'voting_labels.amount_of_ignore' | trans | upper }}</th>
                    {% endif %}
                    <td>{{ item['votes_ignore'] }}</td>
                </tr>
                <tr style="height: 30px"></tr>
                <tr class="js-neutral">
                    {% if item['votes_neutral'] and is_granted('ROLE_SUPER_ADMIN') %}
                    <th class="title"><a class="jsVotesResult"
                                         data-questions-id="{{ groups['voting_question_id'] }}"
                                         data-group="{{ loop.index }}"
                                         data-voting="neutral"
                                         href="javascript:void(0)">{{ 'voting_labels.amount_of_neutral' | trans | upper }}</a>
                    </th>
                    {% else %}
                    <th class="title">{{ 'voting_labels.amount_of_neutral' | trans | upper }}</th>
                    {% endif %}
                    <td>{{ item['votes_neutral'] }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
<br>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
{% block btnSpeech %}
    <div class="kt-header-menu-buttons">
        <a href="{{ path('registration_speech') }}" target="_blank">
            <button type="button" class="btn btn-primary active">
                {{ 'buttons.to_monitor' | trans }}
            </button>
        </a>
    </div>
{% endblock %}
