{% extends '/index/voting_results/base.html.twig' %}

{% block header %}
    <div class="user-header">
        {{ parent() }}
    </div>
{% endblock %}

{% block body %}
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid user-content">
        <div class="row voting-details-wrapper">
            <div class="col-12 d-flex main-info">
                <div class="item-wrapper d-flex">
                    <p class="text-left"><span>{{ 'voting_labels.date' | trans }}:</span> {{ item['voting_date']}}</p>
                </div>
                <div class="item-wrapper d-flex">
                    <p class="text-left"><span>{{ 'voting_labels.time' | trans }}:</span> {{ item['voting_time']}}</p>
                </div>
                <div class="item-wrapper d-flex">
                    <p class="text-left"><span>{{ 'voting_labels.theme' | trans }}:</span> {{ item['voting_question']}}</p>
                </div>
                <div class="item-wrapper d-flex">
                    <p class="text-left"><span>{{ 'voting_labels.type' | trans }}:</span> {{ item['voting_type']}}</p>
                </div>
                <div class="item-wrapper d-flex">
                    <p class="text-left"><span>{{ 'voting_labels.number' | trans }}:</span> {{ item['voting_number']}}</p>
                </div>
            </div>
            <div class=" col-12 table-wrapper d-flex">
                <table class="table">
                    <thead>
                    <tr>
                        <th >{{ 'voting_labels.deputy_association' | trans | upper }}</th>
                        <th >{{ 'voting_labels.deputy_full_name' | trans | upper }}</th>
                        <th >{{ 'voting_labels.vote' | trans | upper }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for val in item['votes'] %}
                        <tr>
                            <td>{{ val['FRACTION'] }}</td>
                            <td>{{ val['FIO_DEP'] }}</td>
                            <td>{{ val['GOLOS_FLAG'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
            <div class=" col-12 table-wrapper d-flex">
                <table class="table">
                    <thead>
                    <tr>
                        <th >{{ 'voting_labels.deputy_association' | trans | upper }}</th>
                        <th >{{ 'voting_labels.amount_of_agree_short' | trans | upper }}</th>
                        <th >{{ 'voting_labels.amount_of_disagree_short' | trans | upper }}</th>
                        <th >{{ 'voting_labels.amount_of_ignore_short' | trans | upper }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, val in item['summary'] %}
                        {% if key != 'all' %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ val[0] is defined ? val[0] : 0 }}</td>
                                <td>{{ val[1] is defined ? val[1] : 0 }}</td>
                                <td>{{ val[2] is defined ? val[2] : 0 }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td>{{ 'voting_labels.all' | trans}}</td>
                        <td>{{ item['summary']['all'][0] is defined ? item['summary']['all'][0] : 0 }}</td>
                        <td>{{ item['summary']['all'][1] is defined ? item['summary']['all'][1] : 0 }}</td>
                        <td>{{ item['summary']['all'][2] is defined ? item['summary']['all'][2] : 0 }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'voting_labels.result' | trans }}</td>
                        <td colspan="3">{{ item['voting_result']}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
