{% extends '/index/voting_results/base.html.twig' %}

{% block header %}
    <div class="user-header">
        {{ parent() }}
    </div>
{% endblock %}

{% block body %}
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid user-content">
        {% for item in results %}
            <div class="row voting-result-wrapper">
                <div class=" col-12 title-wrapper d-flex">
                    <p class="text-left">{{ item['voting_question']}}</p>
                </div>

                <div class=" col-12 table-wrapper d-flex">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th class="title">{{ 'voting_labels.type' | trans | upper }}</th>
                            <td>
                                <a href="{{ path('show_voting_details', {
                                    'voting_id': item['voting_id'],
                                    'conference_id': item['conference_id'],
                                }) }}" id='show-voting-details-link' target="_blank">{{ item['voting_type'] }}</a>
                            </td>
                        </tr>
                        <tr>
                            <th class="title">{{ 'voting_labels.time' | trans | upper }}</th>
                            <td>{{ item['voting_time'] }}</td>
                        </tr>
                        <tr>
                            <th class="title">{{ 'voting_labels.amount_of_agree' | trans | upper }}</th>
                            <td>{{ item['votes_agree'] }}</td>
                        </tr>
                        <tr>
                            <th class="title">{{ 'voting_labels.amount_of_disagree' | trans | upper }}</th>
                            <td>{{ item['voting_disagree'] }}</td>
                        </tr>
                        <tr>
                            <th class="title">{{ 'voting_labels.amount_of_ignore' | trans | upper }}</th>
                            <td>{{ item['votes_ignore'] }}</td>
                        </tr>
                        <tr>
                            <br>
                            <th class="title">{{ 'voting_labels.amount_of_neutral' | trans | upper }}</th>
                            <td>{{ item['votes_neutral'] }}</td>
                        </tr>
                        <tr>
                            <th class="title">{{ 'voting_labels.result' | trans | upper }}</th>
                            <td>{{ item['voting_result'] }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}
