<div
	class="kt-portlet kt-portlet--height-fluid">
	<!--
	<div class="kt-portlet__head">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">
				Участники заседания
			</h3>
		</div>
	</div>
	-->
	<div class="kt-portlet__body participant_list_container">

		<div class="kt_widget4_tab1_content">
			<div id="conferenceMembers">

				<form class="kt-form w-100">
					<div class="form-group">
						<div class="kt-checkbox-inline">
							<span class="countOnline">Количество зарегистрированных (<span id="countParticipant">0</span>)</span>
							<label class="kt-checkbox">
								<input type="checkbox" id="adminCheck" value="option1"> Администратор
								<span></span>
							</label>
							<label class="kt-checkbox">
								<input type="checkbox" id="memberCheck" value="option2"> Участники
								<span></span>
							</label>
							<label class="kt-checkbox">
								<input type="checkbox" id="deputyCheck" value="option3"> Депутаты
								<span></span>
							</label>
							<label class="kt-checkbox">
								<input type="checkbox" id="speechCheck" value="option4"> Выступление
								<span></span>
							</label>
							<label class="kt-checkbox">
								<input type="checkbox" id="managerCheck" value="option5"> Ведение
								<span></span>
							</label>

							<input id="searchMember"
								   type="text"
								   class="form-control"
								   placeholder="Поиск по имени"
							>
						</div>
					</div>
				</form>
			</div>

			<div class="participant_list" id="participant-list" data-room-id="{{ registration.id }}" data-admin={% if is_granted('ROLE_SUPER_ADMIN') %}1{% else %}0{% endif %}>

				{% for user in registration.participants %}

					<div class="participant_item kt-margin-5" data-user-id="{{ user.id }}" data-status="status_default" draggable="true" data-role="{{user.role}}" data-name="{{user.name}}">
						<div class="kt-portlet kt-portlet--height-fluid">
							<div
								class="kt-portlet__body kt-portlet__body--fit-y">
								<!--begin::Widget -->
								<div class="kt-widget kt-widget--user-profile-4">
									<div class="kt-widget__head">
										<div class="kt-widget__media">
											<img draggable="false" class="kt-widget__img kt-hidden-" src="{{ user.avatar }}" alt="{{ user.name }}">
										</div>
										<div class="kt-widget__content">
											<div class="kt-widget__section">
												<span class="kt-widget__username">
													{{ user.name }}
												</span>
												<div class="kt-widget__button">
													<span class="btn btn-sm participant_item_status status_default">
														{{ 'statuses.status_default'|trans }}
													</span>
												</div>
												<div id="manager-{{ user.id }}" class="kt-widget__button buttonMargin"></div>
												<div id="speech-{{ user.id }}" class="kt-widget__button buttonMargin"></div>
											</div>
										</div>
									</div>
								</div>
								<!--end::Widget -->
							</div>
						</div>
					</div>

				{% endfor %}
			</div>

		</div>
	</div>
</div>
