{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.ifaceMode = 'admin';
        window.participants = {{ registration.participants | serialize | raw }};
    </script>
{% endblock %}

{% block body %}

    <!-- begin:: Content Head -->
    <div class="kt-subheader  kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main header-voting">
                <a href="{{ path('voting_results') }}" id='vote-results-btn' target="_blank"
                   class="btn btn-primary btn-lg active" role="button"
                   aria-pressed="true" style="display: none">{{ 'buttons.show_vote_results' | trans }}</a>

                <span class="kt-subheader__separator kt-subheader__separator--v" style="display: none"></span>

                <h3 class="kt-subheader__title">{{ registration.name }}</h3>

                <span class="kt-subheader__separator kt-subheader__separator--v"></span>

                <span class="kt-subheader__desc question-select-wrapper">
                    <select class="form-control kt-select2" id="translationQuestion">
                        {% for question in registration.translation.questions %}
                            <option id="select__{{ question.id }}"
                                    value="{{ loop.index }}">{{ question.question }}</option>
                        {% endfor %}
                    </select>
                </span>

                <span class="kt-subheader__separator kt-subheader__separator--v"></span>

                <h3 class="kt-subheader__title" style="white-space: nowrap">
                    {% include "index/timer.html.twig" %}
                </h3>
            </div>

        </div>
    </div>

    <!-- end:: Content Head -->

    <!-- begin:: Content -->
    <div class="kt-container kt-container--fluid  kt-grid__item kt-grid__item--fluid">

        <!--Begin::Dashboard 1-->
        <!--Begin::Row-->
        <div class="row">

            <div class="col-lg-12 col-xl-12 order-lg-1 order-xl-1">

                <div class="row">
                    <div class="col-lg-3 col-xl-3 order-lg-1 order-xl-1">
                        {% include "index/streams/_player.html.twig" with {'title': 'Президиум', 'type': 'presidium', 'buttons': true} %}
                    </div>
                    <div class="col-lg-3 col-xl-3 order-lg-1 order-xl-1">
                        {% include "index/streams/_player.html.twig" with {'title': 'Табло', 'type': 'table', 'buttons': true} %}
                    </div>
                    <div class="col-lg-3 col-xl-3 order-lg-1 order-xl-1">
                        {% include "index/streams/_player.html.twig" with {'title': 'Доклад / выступление с трибуны', 'type': 'tribune', 'buttons': true} %}

                        <a href="javascript:void(0)"
                           class="btn btn-label-brand btn-bold btn-sm btn-icon-h swap-audio-btn"
                           data-target-left="tribune"
                           data-target-right="member"
                        >
                            <i class="la la-exchange"></i>
                        </a>
                    </div>
                    <div class="col-lg-3 col-xl-3 order-lg-1 order-xl-1">
                        {% include "index/streams/_player.html.twig" with {'title': 'Вопрос / выступление с места', 'type': 'member', 'buttons': true} %}
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    {% include "index/_participants.html.twig" with {'participants': registration.participants} %}
                </div>
            </div>
        </div>
        <!--End::Row-->

        <!--End::Dashboard 1-->
    </div>

    <!-- end:: Content -->

{% endblock %}
{% block btnSpeech %}
        <button id="questionFilesButton" type="button" class="btn btn-primary active">
            {{ 'buttons.question.documents' | trans }}
        </button>
        <!-- Modal -->
        <div class="modal fade" id="questionFilesModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="">{{ 'buttons.question.documents' | trans }}</h5>
                        <button type="button" class="close btn-close"
                                aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div id="listFiles"></div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-close" data-bs-dismiss="modal">
                            {{ 'buttons.close' | trans }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <button id="listModalInput" type="button" class="btn btn-primary active" data-bs-toggle="modalList"
                data-bs-target="#listModal">
            {{ 'buttons.list' | trans }}
        </button>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <button id="voting" type="button" class="btn btn-primary active" disabled>
                {{ 'buttons.vote' | trans }}
            </button>
            <span id="votingTime">
                <input id="votingMinute" type="number" min="5" max="120" step="5"> секунд
            </span>
        {% endif %}
        <a href="{{ path('remote_translation_voting_results') }}" target="_blank">
            <button id="votingResult" type="button" class="btn btn-primary active">
                {{ 'voting_labels.result' | trans }}
            </button>
        </a>

        <!-- Modal -->
        <div class="modal fade" id="listModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true"  data-admin={% if is_granted('ROLE_SUPER_ADMIN') %}1{% else %}0{% endif %}>
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div id="dateForm" class="modal-content modalScroll">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ 'buttons.list' | trans }}</h5>
                        <button type="button" class="close btn-close"
                                aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <div class="row">
                            <button id="deleteAllSpeech" type="button" class="btn btn-secondary buttonListMargin">
                                {{ 'buttons.delete.speech' | trans }}
                            </button>
                            <button id="deleteAllManager" type="button" class="btn btn-secondary buttonListMargin">
                                {{ 'buttons.delete.manager' | trans }}
                            </button>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-6">
                                {{ 'buttons.admin.speech' | trans }}
                                <div id="speechList"></div>
                            </div>
                            <div class="col-6">
                                {{ 'buttons.admin.manager' | trans }}
                                <div id="managerList"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-10">
                            <a href="{{ path('registration_speech') }}" target="_blank">
                                <button type="button" class="btn btn-primary active">
                                    {{ 'buttons.to_monitor' | trans }}
                                </button>
                            </a>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-secondary btn-close" data-bs-dismiss="modal">
                                {{ 'buttons.close' | trans }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
