{% extends 'base.html.twig' %}
{% set voiseHas = 2 %}
{% set voiseHasNot = 1 %}
{% block javascripts %}
    {{ parent() }}
    <script>
        window.ifaceMode = 'user';
        window.participants = {{ registration.participants | serialize | raw }};
    </script>
{% endblock %}

{% block body %}
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid user-content user-top">

        <!--Begin::Dashboard 1-->
        <!--Begin::Row-->
        <div class="row player-container" id="player-containers">
            <div class="col-md-6 col-sm-12 kt-user kt-user-padding kt-user-padding_bottom kt-hidden">
                {% include "index/streams/_player.html.twig" with {'title': 'Президиум', 'type': 'presidium', 'buttons': false} %}
            </div>
            <div class="col-md-6 col-sm-12 kt-user kt-user-padding kt-user-padding_bottom kt-hidden">
                {% include "index/streams/_player.html.twig" with {'title': 'Доклад / выступление с трибуны', 'type': 'tribune', 'buttons': false} %}
            </div>
            <div class="col-md-6 col-sm-12 kt-user kt-user-padding kt-user-padding_bottom col-md-12">
                {% include "index/streams/_player.html.twig" with {'title' : 'Табло', 'type' : 'table', 'buttons': false, 'onlyUser': true} %}
            </div>
            <div class="col-md-6 col-sm-12 kt-user kt-user-padding kt-user-padding_bottom kt-hidden">
                {% include "index/streams/_player.html.twig" with {'title': 'Вопрос / выступление с места', 'type': 'member', 'buttons': false} %}
            </div>
        </div>

        <div class="row pb-5">

            <div class="col-12">
                <div class="row">
                    <div class="col-lg-2 col-md-12" style="display: none">
                        <a href="{{ path('voting_results') }}"
                           id='vote-results-btn'
                           target="_blank"
                           class="btn btn-primary btn-lg active"
                           role="button"
                           aria-pressed="true">
                            {{ 'buttons.show_vote_results' | trans }}
                        </a>
                    </div>
                    <div class="col-lg-10 col-md-12">
                        <div class="kt-portlet kt-portlet--height-fluid">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">
                                    {% if hasVote == voiseHas %}
                                        <div id="votingButtonsGroup" class="votingButtons" style="display: none">
                                            <span id="votingTime"></span>
                                            <button data-voting="1" data-user-id="{{ app.user.suiId }}" type="button"
                                                    class="btn btn-success active"
                                                    data-name="{{ app.user.name }}">
                                                {{ 'voting_labels.amount_of_agree_short' | trans }}
                                            </button>
                                            <button data-voting="2" data-user-id="{{ app.user.suiId }}" type="button"
                                                    class="btn btn-danger active"
                                                    data-name="{{ app.user.name }}">
                                                {{ 'voting_labels.amount_of_disagree_short' | trans }}
                                            </button>
                                            <button data-voting="3" data-user-id="{{ app.user.suiId }}" type="button"
                                                    class="btn btn-primary active"
                                                    data-name="{{ app.user.name }}">
                                                {{ 'voting_labels.amount_of_ignore_short' | trans }}
                                            </button>
                                        </div>
                                        <div class="modal fade" id="votingModal" tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="votingModalTitle"> {{ 'voting_labels.is_voite' | trans }}
                                                            {voice}!</h5>
                                                        <button type="button" class="close btn-close"
                                                                aria-label="Close"><span
                                                                    aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>{{ 'voting_labels.change_result' | trans }}</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary btn-close"
                                                                data-bs-dismiss="modal">
                                                            {{ 'buttons.close' | trans }}
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="fileQuestion">
                                        <button id="questionFilesButton" type="button" class="btn btn-primary active">
                                            {{ 'buttons.question.documents' | trans }}
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="questionFilesModal" tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="">{{ 'buttons.question.documents' | trans }}</h5>
                                                        <button type="button" class="close btn-close"
                                                                aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div id="listFiles"></div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary btn-close" data-bs-dismiss="modal">
                                                            {{ 'buttons.close' | trans }}
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-12 kt-portlet__body">
                                    <div class="tab-content">
                                        <div id="questionText"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="kt-portlet kt-portlet--height-fluid">
                        <div class="kt-portlet__body">
                            <div class="tab-content">
                                <h1>
                                    {% include "index/timer.html.twig" %}
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--End::Row-->

    <!--End::Dashboard 1-->
    </div>

    <!-- end:: Content -->

{% endblock %}
{% block btnSpeech %}
    {% if hasVote == voiseHas %}
            <button id="dateModalInput" data-user-id="{{ app.user.suiId }}" type="button" class="btn btn-primary active"
                    data-bs-toggle="modal"
                    data-name="{{ app.user.name }}">
                {{ 'buttons.speech' | trans }}
            </button>

            <!-- Modal -->
            <div class="modal fade" id="dateModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id=""> {{ 'buttons.speech' | trans }}</h5>
                            <button type="button" class="close btn-close"
                                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-close" data-bs-dismiss="modal">
                                {{ 'buttons.close' | trans }}
                            </button>
                            <button type="submit" name="btnSubmit" form="dateForm"
                                    class="btn btn-primary">{{ 'buttons.registered' | trans }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <button id="registerByManagement" data-user-id="{{ app.user.suiId }}" type="button"
                    class="btn btn-primary active"
                    data-bs-toggle="modal"
                    data-name="{{ app.user.name }}">
                {{ 'buttons.manager' | trans }}
            </button>

            <!-- Modal -->
            <div class="modal fade" id="dateModalByManagement" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="">{{ 'buttons.manager' | trans }}</h5>
                            <button type="button" class="close btn-close"
                                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-close" data-bs-dismiss="modal">
                                {{ 'buttons.close' | trans }}
                            </button>
                            <button type="submit" name="btnSubmit" form="dateForm"
                                    class="btn btn-primary">{{ 'buttons.registered' | trans }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- список зарегистрировавшихся -->
            <button id="listRegistered" type="button"
                    class="btn btn-primary active"
                    data-bs-toggle="modal">
                Количество зарегистрированных (<span id="registrationLength">0</span>)
            </button>

            <!-- Modal -->
            <div class="modal fade" id="dateModalByListRegistered" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="">Список зарегистрированных на заседание  </h5>
                            <button type="button" class="close btn-close"
                                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            {% for user in registration.participants %}
                                <div class="userRegistration" id="userRegistration-{{ user.id }}" style="display: none">{{ user.name }}</div>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-close" data-bs-dismiss="modal">
                                {{ 'buttons.close' | trans }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    {% endif %}
{% endblock %}
