<!DOCTYPE html>

<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 4 & Angular 8
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="ru">

<!-- begin::Head -->
<head>

    <!--end::Base Path -->
    <meta charset="utf-8"/>
    <title>{% block title %}Заседание Московской городской Думы{% endblock %}</title>
    <meta name="description" content="Updates and statistics">

    <!--begin::Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                "families": ["Roboto:300,400,500,600,700"]
            },
            active: function () {
                sessionStorage.fonts = true;
            }
        });

        // Service Worker
        if (navigator.serviceWorker.controller) {
            console.log('[PWA Builder] active service worker found, no need to register')
        } else {
            navigator.serviceWorker.register('/sw.js', {
                scope: './'
            }).then(function (reg) {
                console.log('Service worker has been registered for scope:' + reg.scope);
            });
        }

    </script>

    <!--end::Fonts -->

    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="/assets/vendors/global/vendors.bundle.css?v={{ shivas_app_version }}" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/demo1/style.bundle.css?v={{ shivas_app_version }}" rel="stylesheet" type="text/css"/>

    <!--end::Global Theme Styles -->

    <!--begin::Layout Skins(used by all pages) -->
    <link href="/assets/css/demo1/skins/header/base/light.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/demo1/skins/header/menu/light.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/demo1/skins/brand/dark.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/demo1/skins/aside/dark.css" rel="stylesheet" type="text/css"/>

    {% block stylesheets %}{% endblock %}

    <!--end::Layout Skins -->
    {% include 'icons.html.twig' %}
</head>

<!-- end::Head -->

<!-- begin::Body -->
<body class="
    kt-quick-panel--right
    kt-demo-panel--right
    kt-offcanvas-panel--right
    kt-header--fixed
    kt-header-mobile--fixed
    kt-page--loading
    kt-subheader--enabled
    kt-subheader--fixed
    kt-subheader--solid
">

<!-- begin:: Page -->

<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

        <!-- end:: Aside -->
        <div class="container kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

            {% block header %}

                <!-- begin:: Header -->
                <div id="kt_header" class="row kt_header">

                    <!-- begin:: Header Menu -->
                    <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i
                                class="la la-close"></i></button>
                    <!-- end:: Header Menu -->
                    <div class="kt_header__button order-2 order-lg-1 align-self-center">
                    {% block btnSpeech %}{% endblock %}
                    </div>

                    <!-- begin:: Header Topbar -->
                    <div class="kt_header__user-name order-1 order-lg-2 align-self-center">

                        <!--begin: User Bar -->
                        <div class="kt-header__topbar-item kt-header__topbar-item--user">
                            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px">
                                <div class="kt-header__topbar-user">
                                    <span class="kt-header__topbar-welcome">Добрый день,</span>
                                    <span class="kt-header__topbar-username">{{ app.user.name }}</span>

                                </div>
                            </div>
                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">

                                <!--begin: Head -->
                                <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x"
                                     style="background-image: url('/assets/media/misc/bg-1.jpg')">

                                    <div class="kt-user-card__name">
                                        {{ app.user.name }}
                                    </div>
                                </div>

                                <!--end: Head -->

                                <!--begin: Navigation -->
                                <div class="kt-notification">
                                    <div class="kt-notification__custom kt-space-between">
                                        <a href="{{ path('logout') }}"
                                           class="btn btn-label btn-label-brand btn-sm btn-bold">Выйти</a>
                                    </div>
                                </div>

                                <!--end: Navigation -->
                            </div>
                        </div>

                        <!--end: User Bar -->
                    </div>

                    <!-- end:: Header Topbar -->
                </div>

            {% endblock header %}

            <!-- end:: Header -->
            <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

                {% block body %}{% endblock %}

            </div>

        </div>
    </div>
</div>

<!-- end:: Page -->

<!-- begin::Global Config(global config for global JS sciprts) -->
<script>
    var KTAppOptions = {
        "colors": {
            "state": {
                "brand": "#5d78ff",
                "dark": "#282a3c",
                "light": "#ffffff",
                "primary": "#5867dd",
                "success": "#34bfa3",
                "info": "#36a3f7",
                "warning": "#ffb822",
                "danger": "#fd3995"
            },
            "base": {
                "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
            }
        }
    };

    window.textButtonsSpeech = '{{ 'buttons.speech' | trans }}';
    window.textButtonsManager = '{{ 'buttons.manager' | trans }}';

    window.authenticatedUserSuiId = {{ app.user.suiId }};

    window.votingLabels = '{{ 'voting_labels.№' | trans }}';
    window.amountOfAgree = '{{ 'voting_labels.amount_of_agree' | trans | upper }}';
    window.amountOfDisagree = '{{ 'voting_labels.amount_of_disagree' | trans | upper }}';
    window.amountOfIgnore = '{{ 'voting_labels.amount_of_ignore' | trans | upper }}';
    window.amountOfNeutral = '{{ 'voting_labels.amount_of_neutral' | trans | upper }}';

</script>

<!-- end::Global Config -->

<!--begin::Global Theme Bundle(used by all pages) -->
<script src="/assets/vendors/global/vendors.bundle.js?v={{ shivas_app_version }}" type="text/javascript"></script>
<script src="/assets/js/demo1/scripts.bundle.js?v={{ shivas_app_version }}" type="text/javascript"></script>

<!--end::Global Theme Bundle -->

<!--begin::WebSocket -->
<script src="{{ asset('bundles/goswebsocket/js/vendor/autobahn.min.js') }}"></script>
<script src="{{ asset('bundles/goswebsocket/js/websocket.min.js') }}"></script>

<!--end::WebSocket -->

<!--begin::JsRouting -->
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
{% if app.environment == 'prod' %}
    <script src="/js/translations/config.js?v={{ shivas_app_version }}"></script>
    <script src="/js/translations/messages/ru.js?v={{ shivas_app_version }}"></script>
{% else %}
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ url('bazinga_jstranslation_js') }}"></script>
{% endif %}

<!--end::JsRouting -->

<!-- begin:jivosite -->
<script src="//code.jivosite.com/widget/KJpndJBR2R" async></script>
<script>
    jQuery(document).ready(function () {
        if (sessionStorage.getItem('isNewSession') !== 'true') {
            window.localStorage.clear();
            sessionStorage.setItem('isNewSession', true);
        }
    });

    function jivo_onLoadCallback() {
        jivo_api.setContactInfo({
            "name": "{{ app.user.name }}",
            "email": "{{ app.user.email }}",
        });
    }

</script>
<!-- end:jivosite -->

<script src="./assets/js/scripts.bundle.js?v={{ shivas_app_version }}" type="text/javascript"></script>

<!--begin::Page Scripts(used by this page) -->
{% block javascripts %}
    <script>
        const userId = '{{ app.user.suiId }}';
        window.streamSocket = StreamSocket(
            '{{ stream_ws_url }}',
            userId,
            'wss://{{ kms_app_tribune_url }}',
            'wss://{{ kms_app_member_url }}',
            'wss://{{ kms_app_presidium_url }}',
            'wss://{{ kms_app_table_url }}',
            // STUN server address
            '{{ kms_stun_ip }}:{{ kms_stun_port }}'
        );
        window.streamSocket.init();

        window.SUBSCRIBE_EVENT = {{ constant('App\\Websocket\\Topic\\AppTopic::SUBSCRIBE_EVENT') }};
        window.UNSUBSCRIBE_EVENT = {{ constant('App\\Websocket\\Topic\\AppTopic::UNSUBSCRIBE_EVENT') }};
        window.QUESTION_CHANGE_EVENT = {{ constant('App\\Websocket\\Topic\\AppTopic::QUESTION_CHANGE_EVENT') }};
        window.RESET_TIMER = {{ constant('App\\Websocket\\Topic\\AppTopic::RESET_TIMER') }};
        window.STOP_TIMER = {{ constant('App\\Websocket\\Topic\\AppTopic::STOP_TIMER') }};
        window.CHANGED_MUTE_BTN = {{ constant('App\\Websocket\\Topic\\AppTopic::CHANGED_MUTE_BTN') }};
        window.SPEECH_REGISTRATION = {{ constant('App\\Websocket\\Topic\\AppTopic::SPEECH_REGISTRATION') }};
        window.SPEECH_DELETE = {{ constant('App\\Websocket\\Topic\\AppTopic::SPEECH_DELETE') }};
        window.SPEECH_ALL_DELETE = {{ constant('App\\Websocket\\Topic\\AppTopic::SPEECH_ALL_DELETE') }};
        window.REGISTERED_GET_ALL = {{ constant('App\\Websocket\\Topic\\AppTopic::REGISTERED_GET_ALL') }};
        window.MANAGER_REGISTRATION = {{ constant('App\\Websocket\\Topic\\AppTopic::MANAGER_REGISTRATION') }};
        window.MANAGER_DELETE = {{ constant('App\\Websocket\\Topic\\AppTopic::MANAGER_DELETE') }};
        window.MANAGER_ALL_DELETE = {{ constant('App\\Websocket\\Topic\\AppTopic::MANAGER_ALL_DELETE') }};
        window.VOTING_START = {{ constant('App\\Websocket\\Topic\\AppTopic::VOTING_START') }};
        window.VOTING_END = -14;
        window.VOTING = {{ constant('App\\Websocket\\Topic\\AppTopic::VOTING') }};
        window.RESULT_VOTING = {{ constant('App\\Websocket\\Topic\\AppTopic::RESULT_VOTING') }};
        window.VOTING_SAVE = {{ constant('App\\Websocket\\Topic\\AppTopic::VOTING_SAVE') }};

        window.websocket = Websocket('{{ websocket_server_url }}');
        window.websocket = window.websocket.init();

    </script>
{% endblock %}
<!--end::Page Scripts -->
</body>

<!-- end::Body -->
</html>
